/target
/project/project/
/project/target/
/project/metals.sbt
/.idea
/.metals
/.bloop
/.vscode

# Ignore files generated as part of the lookup-service-test.
/src/test/resources/lookup-service-test/*.json
